<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="/admin/admin-parts :: headBase">
  <title id="pageTitle">Charity Donation - Admin Page</title>
</head>
<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

  <th:block th:replace="/admin/admin-parts :: navbar"> </th:block>

</nav>
<div id="layoutSidenav">

  <!--  layoutSidenav_nav-->
  <div th:replace="/admin/admin-parts :: layoutSidenav_nav"></div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>

      </div>
    </main>
    <div th:replace="/admin/admin-parts :: footer"></div>
  </div>
</div>

<script th:replace="/admin/admin-parts :: script"></script>

</body>
</html>