<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>

<head th:fragment="headBase">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="m.szyba@gmail.com">

  <title th:include=":: #pageTitle">Charity Donation </title>

  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" th:rel="stylesheet" type="text/css">
  <!--  <link-->
  <!--      th:href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
  <!--          th:rel="stylesheet">-->

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" th:rel="stylesheet">
</head>

<!--<header class="header&#45;&#45;main-page" th:fragment="header">-->
<!--  <nav class="container container&#45;&#45;70">-->
<!--    <ul class="nav&#45;&#45;actions">-->
<!--      <li sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/logout}" method="post" >-->
<!--          <input class="tn btn&#45;&#45;small btn&#45;&#45;without-border" type="submit" value="Wyloguj" />-->
<!--        </form>-->
<!--      </li>-->
<!--      <li sec:authorize="isAnonymous()"><a th:href="@{/login}" class="btn btn&#45;&#45;small btn&#45;&#45;without-border">Zaloguj</a></li>-->
<!--      <li><a th:href="@{/register}" class="btn btn&#45;&#45;small btn&#45;&#45;highlighted">Załóż konto</a></li>-->
<!--    </ul>-->

<!--    <ul>-->
<!--      <li><a href="" class="btn btn&#45;&#45;without-border active">Start</a></li>-->
<!--      <li><a th:href="@{#steps}" class="btn btn&#45;&#45;without-border">O co chodzi?</a></li>-->
<!--      <li><a th:href="@{#about-us}" class="btn btn&#45;&#45;without-border">O nas</a></li>-->
<!--      <li><a th:href="@{#help}" class="btn btn&#45;&#45;without-border">Fundacje i organizacje</a></li>-->
<!--      <li><a th:href="@{/form}" class="btn btn&#45;&#45;without-border">Przekaż dary</a></li>-->
<!--      <li><a th:href="@{#contact}" class="btn btn&#45;&#45;without-border">Kontakt</a></li>-->
<!--    </ul>-->
<!--  </nav>-->

<!--  <div class="slogan container container&#45;&#45;90">-->
<!--    <div class="slogan&#45;&#45;item">-->
<!--      <h1>-->
<!--        Zacznij pomagać!<br/>-->
<!--        Oddaj niechciane rzeczy w zaufane ręce-->
<!--      </h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->

<!--<footer th:fragment="footer">-->
<!--  <div id="contact" class="contact">-->
<!--    <h2>Skontaktuj się z nami</h2>-->
<!--    <h3>Formularz kontaktowy</h3>-->
<!--    <form class="form&#45;&#45;contact">-->
<!--      <div class="form-group form-group&#45;&#45;50"><input type="text" name="name" placeholder="Imię" /></div>-->
<!--      <div class="form-group form-group&#45;&#45;50"><input type="text" name="surname" placeholder="Nazwisko" /></div>-->

<!--      <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>-->

<!--      <button class="btn" type="submit">Wyślij</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="bottom-line">-->
<!--    <span class="bottom-line&#45;&#45;copy">Copyright &copy; 2021</span>-->
<!--    <div class="bottom-line&#45;&#45;icons">-->
<!--      <a href="#" class="btn btn&#45;&#45;small"><img th:src="@{images/icon-facebook.svg}" alt="icon-facebook"/></a>-->
<!--      <a href="#" class="btn btn&#45;&#45;small"><img th:src="@{images/icon-instagram.svg}" alt="icon-instagram"/></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<th:block th:fragment="script">

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin-2.min.js}"></script>
</th:block>

</body>
</html>