<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="parts :: headBase">
  <title id="pageTitle">Charity Donation - Login Page</title>
</head>
<body>
<div th:replace="parts :: header"></div>

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form th:action="@{/login}" method="post">
        <div class="form-group">
          <label>
            <input type="email" name="username" placeholder="Email" />
          </label>
        </div>
        <div class="form-group">
          <label>
            <input type="password" name="password" placeholder="Hasło" />
          </label>
<!--          <a href="#" class="btn btn&#45;&#45;small btn&#45;&#45;without-border reset-password">Przypomnij hasło</a>-->
        </div>

        <div class="form-group form-group--buttons">
          <a th:href="@{/register}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

<div th:replace="parts :: footer"></div>

<script th:replace="parts :: script"></script>

  </body>
</html>
