<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="parts :: headBase">
  <title id="pageTitle">Charity Donation</title>
</head>
  <body>
  <div th:replace="parts :: header"></div>

      <section class="login-page">
        <h2>Załóż konto</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
          <div class="form-group">
            <label>
              <input type="text" th:field="*{firstName}" name="firstName" placeholder="Imię" />
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="text" th:field="*{lastName}" name="lastName" placeholder="Nazwisko" />
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="email" th:field="*{email}" name="email" placeholder="Email" />
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="password" th:field="*{password}" name="password" placeholder="Hasło" />
            </label>
          </div>
          <div class="form-group">
            <label>
              <input type="password" name="rePassword" placeholder="Powtórz hasło" />
            </label>
          </div>

          <div class="form-group form-group--buttons">
            <a th:href="@{/login}" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
          </div>
        </form>
      </section>

    <div th:replace="parts :: footer"></div>

    <script th:replace="parts :: script"></script>

  </body>
</html>
